#center {
  margin: auto;
  width: 27%;
  padding: 10px;
}

h1 {
  padding: 20px;
  font-size: 300%;
  border-style: solid;
}

body {
	background: #cbd8df;
  font-family: "raleway", sans-serif;
  font-style: normal;
  color: #1e5067;
  }

p { 
  font: 120% raleway, sans-serif;
  } 

a {
	color: #159ab7;
}

ul {
  list-style-type: circle;
}

#foot {
  text-indent: 650px;
}
